node_modules
build
npm-debug.log
.env
.serverless/
.eslintcache
.npm
logs
*.log
./stack.json
*.pyc
.idea
**/.idea/*
backend-flask/.idea
backend-flask/.idea/
/backend-flask/.idea

**/.claude/settings.local.json

n8n-nodes-parallel-ai/dist/**

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/node_modules
